<div class="item">
  <input [id]="todo.description" type="checkbox" (change)="todo.done = !todo.done" [checked]="todo.done" />
  <label [for]="todo.description">{{todo.description}}</label>

  <div class="btn-wrapper" *ngIf="!editable">
    <button class="btn" (click)="editable = !editable">Edit</button>
    <button class="btn btn-warn" (click)="remove.emit()">Delete</button>
  </div>

  <div *ngIf="editable">
    <input class="sm-text-input" placeholder="edit item" [value]="todo.description" #editedTodo
      (keyup.enter)="editTodo(editedTodo.value)" />

    <div class="btn-wrapper">
      <button class="btn" (click)="editable = !editable">Cancel</button>
      <button class="btn btn-save" (click)="editTodo(editedTodo.value)">
        Save
      </button>
    </div>
  </div>
</div>
